.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.progressBar {
  margin-top: 80px;
  width: 95%;
  height: 15px;
  accent-color: #42FF60;
  z-index: 100;
}

/* Mobile */
@media (max-width: 700px) {
  
}

@media (prefers-color-scheme: light) {
  .logo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
