.itemContainer {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.modelContainer {
  width: 100%;
  height: calc(100 * var(--vh));
}

.infoContainer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.info {
  white-space: pre-line;
  display: flex;
}

.openInAr {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.3em;
}

.back {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.3em;
  z-index: 2;
}

#modelBlur {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
}
